.main-container {
  text-align: center;
  position: absolute;
  width: 34%;
  left: 33%;
  top: 20vh;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 20px white;
  height: 250px;
}

.welcome-title {
  color: #5bc0de;
  margin-bottom: 20px;
}

.welcome-intro {
  color: #5bc0de;
  margin-bottom: 20px;
}

.login-button {
  width: 100px;
  margin: 10px;
  opacity: 0.8;
}

.login-button:hover {
  opacity: 1;
}

.signup-button {
  width: 100px;
  margin: 0 10px;
  opacity: 0.8;
}

.signup-button:hover {
  opacity: 1;
}

.read-button {
  width: 220px;
  margin: 0 10px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.read-button:hover {
  opacity: 1;
}

.interface {
  animation: appear 1.2s ease-out forwards;
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.action-interface-placeholder {
  height: 20px;
  color: blue;
  font-family: 'Bangers', cursive;
}
