@import "./background/style.css";
@import "./main_container/style.css";

.main-container {
  text-align: center;
  position: absolute;
  width: 34%;
  left: 33%;
  top: 20vh;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 20px white;
  height: 250px;
}
